p {
    color: #181818 ;
}
body {
  background-color: #ffffff;
} 


a:link {
  color: #492bf3;
  background-color: transparent;
  text-decoration: none;
}

h1 {
font-size: 34px;
  color: #F7F9FA;
}
h2{
font-size: 26px;
  color: #181818;
  text-align: center;
}
h3 {
  color: #181818;
  text-align: center;
}
h4 {

  color: #F7F9FA;
}
h5 {

  color: #181818;
}
h6 {

  color: #181818;
}



@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

html,body{
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #411aad;
}

nav ul li {
  float: center;
}

nav ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav ul li a:hover {
  background-color: #d0cccc;
}

nav ul li a.active {
  background-color: #2289dd;
}

.header {background-image: linear-gradient( rgba(0, 0, 0, 0.08), rgba(0, 0, 0, 0.08) ), url(moderni.jpg);
  background-position: center;
  background-size: cover;
  text-align: center;
  padding: 80px 10px 80px 10px;
}


.quote {background-image: linear-gradient( rgba(0, 0, 0, 0.08), rgba(0, 0, 0, 0.08) ), url(Lentskari.jpg);
  background-position: center;
  background-size: cover;
font-size: 30px;
text-align: center;
padding: 50px 10px 50px 10px; 
height: 100px;
margin-bottom: 50px;
margin-top: 50px;

} 
.content {
  width: 90%;
  margin: auto;
  font-size: 16px;
  clear: both;
}
.content ul{ 
   list-style-type: disc;   
  padding-left: 40px;        
  margin: 0;
  display: block;
}
.content li {
  margin-bottom: 6px;       
  display: list-item;        
}

.coming-soon {
  text-align: center;
  padding: 120px 20px;
  background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),  url('tietokone.jpg') center/cover no-repeat;
  color: white;
  box-shadow: 0 4px 8px rgba(0,0,0,0.3);
}

.coming-soon h2 {
  font-size: 40px;
  margin-bottom: 20px;
  color: #cce6ff;
}

.coming-soon p {
  font-size: 20px;
  color: #cce6ff;
}

.tiedot {
  text-align: center;
}


.footer {
   background-color: #411aad;
   margin-top: 40px;
}
 

.footer p{
  color: #F7F9FA;
  text-align: center;
  padding: 10px;
  margin: 0px;

}
.row {
width: 90%;
margin: auto;
padding-top: 20px;
padding-bottom: 20px;
text-align: center;
}



.header {
  text-align: center;
}

.contact form {
  display: flex;
  flex-direction: column;
  width: 80%;
  max-width: 500px;
  margin: auto;
}

.contact input, .contact textarea {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.contact button {
  background-color: #331489;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 6px;
  cursor: pointer;
}

.contact button:hover {
  background-color: #4a2db3;
}


@media only screen and (min-width: 650px) { 

  ul li {
  float: left;
}

.content {
  width: 75%;
}

h1 {
font-size: 32px;
}

h2{
font-size: 24px;
}

.quote {background-image: linear-gradient( rgba(0, 0, 0, 0.08), rgba(0, 0, 0, 0.08) ), url(Lentskari.jpg);
font-size: 40px;
padding: 100px 10px 100px 10px;
}
.row {
width: 75%;
margin: auto;
}
} 

@media only screen and (min-width: 1025px) { 
.content {
  width: 55%;
}

h1 {
font-size: 34px;
}

h2{
font-size: 26px;
}

.quote {background-image: linear-gradient( rgba(0, 0, 0, 0.08), rgba(0, 0, 0, 0.08) ), url(Lentskari.jpg);
  font-size: 45px;
  height: 100px;
  text-align: center;
} 
.column {
  float: left;
  width: 45%;
  padding-right: 5%;
}

.row {
width: 90%;
margin: auto;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
.row {
width: 90%;
margin: auto;
font-size: 16px;



}

}
